.row
 .col-xs-3(style="padding:0")
  .card-sm
    ul.nav.nav-pills.nav-stacked.dicomList
      .title Series Preview
      li(ng-repeat="image in DICOM")
       a(id="{{image.previewID}}",ng-click="loadStack(image.seriesID)",dicom-image="")
 .col-md-9(style="padding:0")
  .card-sm
    .inner(style="height:450px")
     .title Image
     .action
      .buttons
       a.btn.btn-sm.btn-warning#invert(title="Invert") #[i.fa.fa-adjust]
       a.btn.btn-sm.btn-warning#rotate(title="Rotate") #[i.ion-arrow-return-right]
       a.btn.btn-sm.btn-warning#zoom(title="Zoom") #[i.fa.fa-search]
       a.btn.btn-sm.btn-warning#magnify(title="Magnify") #[i.fa.fa-search-plus]
       a.btn.btn-sm.btn-warning#length(title="Length") #[i.fa.fa-arrows-h]
       a.btn.btn-sm.btn-warning#annotate(title="Annotate") #[i.fa.fa-commenting]
       a.btn.btn-sm.btn-warning#angle(title="Angle") #[i.fa.fa-pencil-square-o]
       a.btn.btn-sm.btn-warning#highlight(title="Highlight") #[i.ion-edit]
       a.btn.btn-sm.btn-warning#dragProbe(title="Drag & Probe") #[i.fa.fa-hand-paper-o]
       a.btn.btn-sm.btn-warning#freehand(title="Freehand") #[i.fa.fa-hand-lizard-o]
       a.btn.btn-sm.btn-warning#play(title="Play") #[i.ion-play]
       a.btn.btn-sm.btn-warning#stop(title="Stop") #[i.ion-stop]
       a.btn.btn-sm.btn-warning#save(title="Save") #[i.fa.fa-hdd-o]
     #dicomImage(style="height:400px",ng-if="instances",dicom-stack="")
     
     dialog.annotationDialog
      h5 Enter your annotation
      .annotationTextInputOptions
       label(for="annotationTextInput") New label
        input.annotationTextInput(name="annotationTextInput",type="text")
       a.annotationDialogConfirm.btn.small.blue OK
              
      dialog.relabelDialog(oncontextmenu="return false")
       h5 Edit your annotation
      .annotationTextInputOptions
       label(for="annotationTextInput") New label
        input.annotationTextInput(name="annotationTextInput",type="text")
       a.relabelRemove.btn.small.solid.red Remove marker
       a.relabelConfirm.btn.small.blue OK
       
  .row
    .col-xs-4
      .inner(style="padding:0 20px")
       label(for="filename") Save as:
       input#filename(type="text",value="cornerstone.png")
    .col-xs-4
      .inner
       .col-1-2
         label(for="magLevelRange") Magnification Level
         input(id="magLevelRange",type="range",min="1",value="2",max="10")
       .col-1-2
         label(for="magSizeRange") Magnifying glass size
         input#magSizeRange(type="range",min="100",value="225",max="300",step="25")
         
     
   
   
  
