.row
 .col-xs-1.no-padding
  .orange-header Series
  ul.nav.nav-pills.nav-stacked.dicomList
    li(ng-repeat="image in DICOM")
     a(id="{{image.previewID}}",ng-click="loadStack(image.seriesID)",dicom-image="")
 .col-md-11.no-padding
  .inner(style="height:600px")
   .action
    .buttons
     a.btn.btn-sm.btn-warning#invert(title="Invert") #[i.fa.fa-adjust]
     a.btn.btn-sm.btn-warning#rotate(title="Rotate") #[i.ion-arrow-return-right]
     a.btn.btn-sm.btn-warning#zoom(title="Zoom") #[i.fa.fa-search]
     a.btn.btn-sm.btn-warning#magnify(title="Magnify") #[i.fa.fa-search-plus]
     a.btn.btn-sm.btn-warning#length(title="Length") #[i.fa.fa-arrows-h]
     a.btn.btn-sm.btn-warning#annotate(title="Annotate") #[i.fa.fa-comments]
     a.btn.btn-sm.btn-warning#angle(title="Angle") #[i.fa.fa-pencil-square-o]
     a.btn.btn-sm.btn-warning#highlight(title="Highlight") #[i.ion-edit]
     a.btn.btn-sm.btn-warning#dragProbe(title="Drag & Probe") #[i.fa.fa-hand-paper-o]
     a.btn.btn-sm.btn-warning#freehand(title="Freehand") #[i.fa.fa-hand-lizard-o]
     a.btn.btn-sm.btn-warning#play(title="Play",ng-click="play($event)") #[i.ion-play]
     a.btn.btn-sm.btn-warning#stop(title="Stop",ng-click="stop($event)") #[i.ion-stop]
     a.btn.btn-sm.btn-warning#save(title="Save") #[i.fa.fa-hdd-o]
   #mainContainer(style="position:relative;height:550px;width:100%") 
     #dicomImage(style="height:100%",ng-if="instances",dicom-stack="")
     div.overlay#mrtopleft(style="position:absolute;top:3px;left:3px",ng-if="instances") Patient Name              
     div.overlay#mrtopright(style="position:absolute;top:3px;right:3px",ng-if="instances") Hospital  
     div.overlay#mrbottomright(style="position:absolute;bottom:6px;right:3px",ng-if="instances")
      div#frameRate
      div#zoomText Zoom: 
      div#sliceText Image: 
     div.overlay#mrbottomleft(style="position:absolute;bottom:3px;left:3px",ng-if="instances") WW/WC:
                          
     p.alert.alert-info(ng-if="!instances || instances.length==0")
       span(ng-bind-html="trustAsHtml(errorList.no_series_selected)")
     
     dialog.annotationDialog
      h5 Enter your annotation
      .annotationTextInputOptions
       label(for="annotationTextInput") New label
        input.annotationTextInput(name="annotationTextInput",type="text")
       a.annotationDialogConfirm.btn.small.blue OK
              
      dialog.relabelDialog(oncontextmenu="return false")
       h5 Edit your annotation
      .annotationTextInputOptions
       label(for="annotationTextInput") New label
        input.annotationTextInput(name="annotationTextInput",type="text")
       a.relabelRemove.btn.small.solid.red Remove marker
       a.relabelConfirm.btn.small.blue OK
       
.row(style="border-top:1px solid #ddd;padding-top:1em")
  .col-xs-12
    .card-sm
      .inner
        h5 Comments
          i.fa.fa-comments
        ul(ng-if="comments && comments.length>0")
          li(ng-repeat="comment in comments")
        div(ng-if="!comments || comments.length==0")
          a.btn.btn-primary(style="margin-bottom:0.5em") #[i.ion-plus]
          p.alert.alert-info
            span(ng-bind-html="trustAsHtml(errorList.no_comments)")
  
