extends layouts/main

block content
  table(ng-controller="patientsController")
    thead
      tr
        th Patient Name	
        th Patient ID	
        th Study Date	
        th Modality	
        th Study 
        th Description	
        th # Images
    tbody
      tr(ng-repeat="patient in patients")
        td(ng-bind="patient.MainDicomTags.PatientName")
        td(ng-bind="patient.MainDicomTags.PatientID")
